<nav class="navbar bg-dark navbar-dark">
  <a href="/" class="navbar-brand"><%= ApplicationHelper::APP_NAME %></a>

  <% if user_signed_in? %>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to "Profile Edit", edit_user_registration_path, class: "nav-link text-secondary" %>
      </li>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-secondary" %>
      </li>
    </ul>
  <% end %>
</nav>
